.container-full-width {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1350px;
        margin-right: auto;
        margin-left: auto;
    }
}

.card,
.card-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.panel {
    padding: 0.01em 16px;
    margin-top: 16px;
    margin-bottom: 16px
}

.mt-5 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 0.75rem;
}

.p-3 {
    padding: 2rem;
}

.responsive {
    width: 100%;
}